extends layout

block content
  nav
    .logo
      a(href='index.html')
    .menu-icon
      span
  #video-container
    .video-overlay
    .video-content
      .inner
        h1
        p Red Bicicletas
        p todo en bicicletas
        .scroll-icon
          a.scrollTo(data-scrollto='portfolio' href='#')
            img(src='img/scroll-icon.png' alt='')
    video(autoplay='' loop='' muted='')
      source(src='/highway-loop.mp4' type='video/mp4')
  #main_map
  #portfolio.full-screen-portfolio
    .container-fluid
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_4.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | Biodiesel 
                    em squid
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_4.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_2.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | raclette 
                    em taxidermy
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_2.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_3.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | humblebrag 
                    em brunch
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_3.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_1.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | Succulents 
                    em chambray
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_1.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_5.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | freegan 
                    em aesthetic
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_5.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_6.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | taiyaki 
                    em vegan
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_6.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_7.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | Thundercats 
                    em santo
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_7.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_8.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | wayfarers 
                    em yuccie
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_8.png')
      .col-md-4.col-sm-6
        .portfolio-item
          a(href='img/big_portfolio_item_9.png' data-lightbox='image-1')
            .thumb
              .hover-effect
                .hover-content
                  h1
                    | disrupt 
                    em street
                  p Awesome Subtittle Goes Here
              .image
                img(src='img/portfolio_item_9.png')

   
  
  //iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43708.92125214761!2d-74.10369156799376!3d4.671446336691605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1636136813032!5m2!1ses!2sco' width='800' height='600' style='border:0;' allowfullscreen='' loading='lazy')
  footer
    .container-fluid
      .col-md-12
        p
          | Copyright &copy; 2018 Company Name
          | | Designed by TemplateMo
  // Modal button
  .popup-icon
    button#modBtn.modal-btn
      img(src='img/contact-icon.png' alt='')
  // Modal
  #modal.modal
    // Modal Content
    .modal-content
      // Modal Header
      .modal-header
        h3.header-title
          | Say hello to 
          em Highway
        .close-btn
          img(src='img/close_contact.png' alt='')
      // Modal Body
      .modal-body
        .col-md-6.col-md-offset-3
          form#contact(action='' method='post')
            .row
              .col-md-12
                fieldset
                  input#name.form-control(name='name' type='text' placeholder='Your name...' required='')
              .col-md-12
                fieldset
                  input#email.form-control(name='email' type='email' placeholder='Your email...' required='')
              .col-md-12
                fieldset
                  textarea#message.form-control(name='message' rows='6' placeholder='Your message...' required='')
              .col-md-12
                fieldset
                  button#form-submit.btn(type='submit') Send Message Now
  section.overlay-menu
    .container
      .row
        .main-menu
          ul
            li
              a(href='index.html') Home - Full-width

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script.
    window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.2.min.js"><\\/script>')
  script(src='/javascripts/vendor/bootstrap.min.js')
  script(src='/javascripts/plugins.js')
  script(src='/javascripts/main.js')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='/javascripts/map.js')


