doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Highway - Free CSS Template
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/stylesheets/fontAwesome.css')
    link(rel='stylesheet' href='/stylesheest/light-box.css')
    link(rel='stylesheet' href='/stylesheets/templatemo-style.css')
    link(href='https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
    script(src='/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
  body
    block content
