h1 Nueva Bicicleta 

br
br

form(action='/bicicletas/create' method='post')
    label(for='id') ID: 
    input#id(type='text' name='id')
    br
    label(for='color') Color 
    input#color(type ='text' name='color')
    br
    label(for='modelo') Modelo 
    input#color(type ='text' name='modelo')
    br
    label(for='lat') Latitud
    input#color(type ='text' name='lat')
        br
    label(for='lng') Longitud 
    input#color(type ='text' name='lng')
    br
    input.btn(type="submit" value="OK")